# dependencies
/node_modules

# production build
/.next
/out

# testing
/coverage

# misc
.DS_Store
Thumbs.db

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# python venv
.venv/
venv/
ENV/

# python bytecode & cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# eslint cache
node_modules/.cache/
node_modules/.cache/.eslintcache
node_modules/.cache/.eslintcache
